.selected {
    color: var(--other-color);
}


.buttonsContainer {
    margin-top: 40px;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.buttonsContainer > * {
    text-align: center;
    width: 100px;
    height: 60px;
    transition: 0.15s;
}

.buttonsContainer > *:hover {
    transform: scale(1.1);
}


.groupSummary h2 {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--other-color);
    
}

.groupSummary h3 {
    font-size: 1.5rem;
    line-height: 2;
}

.groupSummary {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}

.chartContainer {
    width: 200px;
}

form.customExpense {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6);
    padding: 0.75rem 0;
}

form.customExpense input:focus {
    outline: none;
}

form.customExpense button:hover {
    color: white;
}

form.customExpense button {
    transition: 0.1s;
}

form.customExpense input {
    width: 50%;
}


@media (max-width: 600px) {

    .groupSummary {
        flex-direction: column;
        text-align: center;
    }
}

