@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.app {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    width: min(1000px, 90%);
}


.card {
    padding: 25px;
    border: 1px solid black;
    margin-top: 50px;
    width: min(800px, 90%);
}
